// шрифты
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
//slider
@import url("https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css");

$maincolor: #151515;
$textColor: #fff;

html {
  box-sizing: border-box;
  &,
  body {
    height: 100%;
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
.header {
  background-color: $maincolor;
  &-main {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
  }
  // .header__inner
  &__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.back {
  // .back__img
  &__img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 14px;
  }
}
.menu {
  //menu__btn
  &__btn {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    span {
      height: 2px;
      background-color: $textColor;
      width: 100%;
    }
  }

  // .menu__list
  &__list {
    display: flex;
    gap: 35px;
  }
  // .menu__list-link
  &__list-link {
    color: $textColor;
    text-transform: uppercase;
  }
}

// main
.main {
  flex-grow: 1;
}
.top {
  color: $textColor;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  // .top__link
  &__link {
    background-color: $maincolor;
    padding: 23px;
    max-width: 350px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    color: $textColor;
    border: $maincolor;
  }
}
//swiper
.swiper::after {
  content: "";
  pointer-events: none;
  background: rgba(21, 21, 21, 0.3);
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: $maincolor;
  border-radius: 0;
  margin: 0 10px !important;
}
.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

.title {
  padding-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
}

//section feeding-rules
.feeding-rules {
  padding: 150px 0;
  // .feeding-rules__list
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
  }
  // .feeding-rules__item-img
  &__item-img {
    margin-bottom: 30px;
    height: 140px;
    width: 140px;
    border: solid rgba(9, 80, 233, 0.6);
    border-radius: 50%;
  }
  // .feeding-rules__item-title
  &__item-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
  }
  // .feeding-rules__item-text
  &__item-text {
    text-align: left;
  }
}

.what-feed {
  padding-bottom: 20px;
  &__title {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 30px 0;
  }
  // .what-feed__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    text-align: center;
  }
  // .what-feed__item
  &__inner {
    max-width: 600px;
  }
  &__item + &__item {
    border-left: solid #06f 4px;
    padding-left: 34px;
  }
  // .what-feed__text
  &__text {
    height: auto;
  }
  // .what-feed__subtitle
  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    padding-top: 50px;
  }
  // .what-feed__list-item
  &__list-item {
    padding: 50px 0 70px;
    counter-reset: myCounter;
  }
  // .what-feed__item-text
  &__item-text {
    list-style-type: none;
    width: 270px;
    position: relative;
    margin-left: 60px;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 105px;
    max-height: 163px;
  }
  &__item-text + &__item-text {
    margin-top: 40px;
  }
  &__item-text::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    background-color: #06f;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: $textColor;
    left: 0;
    top: 0;
  }
}

.video-food {
  padding-bottom: 70px;
  // .video-food__title
  &__title {
    margin-bottom: 20px;
  }
  // .video-food__text
  &__text {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
  }
  .video-food__content {
    display: block;
    margin: 0 auto;
  }
}
.calc {
  margin-bottom: 100px;
  // .calc__list
  &__list {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  // .calc__item
  &__item {
    width: 550px;
  }
  &__item-text p {
    margin-bottom: 6px;
    font-size: large;
  }
}
.form {
  max-width: 450px;
  margin: 0 auto;
  // form__input, form__select, form__buttom
  &__input,
  &__select,
  &__buttom {
    min-height: 50px;
    width: 100%;
    display: inline-block;
    border-radius: 50px;
    border: solid $maincolor;
    margin-bottom: 13px;
    background-color: #fff;
    text-align: center;
    font-size: large;
  }
  // .form__text
  &__text {
    text-align: center;
    margin: 10px 0px 10px;
    font-size: larger;
  }
  //form__buttom
  &__buttom {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    background-color: $maincolor;
    color: $textColor;
    border: solid $maincolor;
  }
}

//app\

.app {
  background: #fff;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  border-radius: 70px;
  border: $maincolor solid;
  cursor: url("../HTML/source/img/food-img/app-images/cursor.png"), auto;
  //app__header
  &__header {
    padding: 20px;
    text-align: center;
  }
  //app__content
  &__content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  //app__footer
  &__footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    & label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 3px;
      color: $maincolor;
      font-size: 0.8rem;
      font-weight: normal;
      line-height: 1.2rem;
    }

    & input {
      display: block;
      width: 100%;
      max-height: 2.8rem;
      padding: 0.8rem 1rem;
      font-size: inherit;
      font-family: inherit;
      font-weight: inherit;
      line-height: 1.4;
      color: $maincolor;
      background: #fff none;
      border: 2px solid $maincolor;
      border-radius: 5px;
    }
  }
}

.game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $maincolor;
  border-radius: 20px;
  background: #ccc;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
}

.hide {
  display: none !important;
}

.app-btn {
  position: absolute;
  z-index: 1;
  display: inline-block;
  padding: 1rem 2.3rem;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: url("../HTML/source/img/food-img/app-images/cursor-pointer.png"),
    pointer;
  user-select: none;
  background: #fad64e;
  color: #3f3f3f;
  border: none;
  border-radius: 2.8rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  will-change: transform;
  &:disabled {
    background: #ccc !important;
    border: 1px solid #ccc;
    color: $maincolor;
    cursor: not-allowed;
  }

  &:active {
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out !important;
    transform: none !important;
    box-shadow: none !important;
  }

  &:hover {
    box-shadow: 0 6px 16px 0 rgba(21, 21, 21, 0.2);
    transform: translateY(-1px);
  }
}

// footer
.footer {
  background-color: $maincolor;
  padding: 50px 0 32px;
  color: $textColor;
  margin-top: 50px;
  // .footer__menu
  &__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  // .footer__menu-list
  &__menu-list {
    max-width: 250px;
  }
  // .footer__menu-item
  &__menu-item + &__menu-item {
    padding-top: 20px;
  }
  // .footer__menu-title
  &__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  // .footer__copy
  &__copy {
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
  }
}
.downlaod {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
  &__item-img {
    height: 70px;
    width: 120px;
    border-radius: 14px;
  }
}

.copy {
  &__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}

@media (max-width: 1250px) {
  .what-feed__list {
    grid-template-columns: repeat(1, 1fr);
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 1040px) {
  .video-food__content {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .menu__btn,
  .back {
    position: relative;
    z-index: 10;
  }
  .menu__btn {
    display: flex;
  }
  .menu__list {
    position: absolute;
    z-index: 5;
    background-color: $maincolor;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 200px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.7s;
    &-active {
      transform: translateX(0);
    }
  }
  .feeding-rules__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .video-food__content {
    height: 400px;
  }
  .calc__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 730px) {
  .title {
    font-size: 35px;
  }
  .top__link {
    padding: 23px;
    max-width: 317px;
    font-size: 15px;
  }
  .swiper-pagination-bullet {
    width: 90px;
    &-active {
      height: 4px;
    }
  }
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}
@media (max-width: 630px) {
  .section-title {
    font-size: 25px;
  }
  .title {
    font-size: 30px;
  }
  .top__link {
    padding: 23px;
    max-width: 261px;
    font-size: 12px;
  }
  .feeding-rules {
    padding: 80px 0;
    //feeding-rules__list
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
    //feeding-rules__item-text
    &__item-text {
      text-align: center;
    }
  }
  .what-feed {
    //what-feed__title
    &__title {
      font-size: 20px;
    }
    //what-feed__subtitle
    &__subtitle {
      font-size: 18px;
    }
    //what-feed__list-item
    &__list-item {
      padding: 60px 0 30px;
    }
    //what-feed__item-text
    &__item-text {
      padding: 140px 0 19px;
      margin: 0 auto;
    }
    //what-feed__item-text::before
    &__item-text::before {
      right: 0;
      margin: 0 auto;
    }
  }
  .video-food__content {
    height: 260px;
  }
  .copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .app {
    width: 500px;
    padding: 5px;
    &__header {
      padding: 10px;
      text-align: center;
    }
  }
}
@media (max-width: 530px) {
  .app {
    width: 450px;
  }
}
@media (max-width: 450px) {
  .app {
    width: 350px;
    border: none;
  }
}
